<ul>
  <% @trees.each do |tree| %>
    <li><%= link_to tree.name, tree_path(tree) %> <%= link_to "Edit", edit_tree_path(tree) %></li>
  <% end %>
</ul>

<%= link_to("Add a new tree", new_tree_path) %>
